doctype html
html
    head
    link(rel='stylesheet', href='../css/b-header/b-header.css', type='text/css' )

    body
        div.main-wrapper

                div.b-header
                    div.blog-title
                        div.title Wordpress Anniversary
                        div.tagline FREE PREMIUM WORDPRESS THEME BY SITE5
                        div.topsearch
                            form#serchform
                                input(type='text', name="s", id="s", value="search", onfocus="this.value=''")
                                input(type='submit', value id="searchsubmit")
                        div.nav
                                ul
                                    li
                                        a(href='google.com') HOME

                                    li
                                        a(href='google.com') FREEBIES
                                    li
                                        a(href='google.com') PHOTOSHOP

                                    li
                                        a(href='google.com') SHOWCASES
                                    li
                                        a(href='google.com') TUTORIALS
                                    li
                                        a(href='google.com') ABOUT
                                    li
                                        a(href='google.com') CONTACT

                    div.b-content

                        div.b-posts

                    div.b-footer
                        div.lol2
