doctype html
html
    head
    link(rel='stylesheet', href='../css/styles.css', type='text/css' )
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic', rel='stylesheet', type='text/css')

    body

        div.main-wrapper

            div.wrapper

                div.b-header

                        div.blog-title

                            div.title Wordpress Anniversary

                            div.tagline FREE PREMIUM WORDPRESS THEME BY SITE5

                            div.topsearch
                                form#serchform
                                    input(type='text', name="s", id="s", value="search", onfocus="this.value=''")
                                    input(type='submit', value id="searchsubmit")

                            div.nav
                                    ul
                                        li
                                            a(href='google.com') HOME
                                        li
                                            a(href='google.com') FREEBIES
                                        li
                                            a(href='google.com') PHOTOSHOP
                                        li
                                            a(href='google.com') SHOWCASES
                                        li
                                            a(href='google.com') TUTORIALS
                                        li
                                            a(href='google.com') ABOUT
                                        li
                                            a(href='google.com') CONTACT


                div.b-content

                         div.mainCol

                            div.blogPostGrid

                                div.meta

                                    div.date                            Jan

                                        div.day 15

                                    div.metaRight by
                                        a(href='http://demo.s5themes.com/wpanniversary/author/bvoasa/" title="Posts by bvoasa')  bvoasa
                                        br
                                        img(src='http://demo.s5themes.com/wpanniversary/wp-content/themes/wpanniversary/images/ico_comments.png')
                                        a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') No Comments

                                img(src="http://demo.s5themes.com/wpanniversary/files/2011/01/sample8-300x90.jpg")

                                h1
                                    a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') Nusquam percipitur cotidieque ut vis
                                p Elcvne commune elaboraret his, mea amet luptatum at. Modo aeterno propriae ius id. Viris definiebas reprehendunt ad eam. In mea melius commodo. Te usu causae efficiendi. Nusquam percipitur cotidieque ut vis. An est vocent fabellas platonem, eu dico elitr feugait […]

                            div.blogPostGrid.Last

                                div.meta
                                    div.date                            Jan

                                        div.day 15

                                    div.metaRight by
                                        a(href='http://demo.s5themes.com/wpanniversary/author/bvoasa/" title="Posts by bvoasa')  bvoasa
                                        br
                                        img(src='http://demo.s5themes.com/wpanniversary/wp-content/themes/wpanniversary/images/ico_comments.png')
                                        a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') No Comments

                                img(src="http://demo.s5themes.com/wpanniversary/files/2011/01/sample8-300x90.jpg")

                                h1
                                    a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') Pellentesque dapibus ullamcorper leo
                                p Te usu causae efficiendi. Nusquam percipitur cotidieque ut vis. An est vocent fabellas platonem, eu dico elitr feugait per. Et veri posse everti vix, te reque option corpora nam, vim audire molestiae necessitatibus ad. Quis soleat mei eu, tale epicurei […]

                            div.separator

                            div.blogPostGrid

                                 div.meta

                                     div.date                            Jan

                                         div.day 15

                                     div.metaRight by
                                         a(href='http://demo.s5themes.com/wpanniversary/author/bvoasa/" title="Posts by bvoasa')  bvoasa
                                         br
                                         img(src='http://demo.s5themes.com/wpanniversary/wp-content/themes/wpanniversary/images/ico_comments.png')
                                         a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') No Comments

                                 img(src="http://demo.s5themes.com/wpanniversary/files/2011/01/colored_stadium-300x90.jpg")

                                 h1
                                     a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') Nusquam percipitur cotidieque ut vis
                                 p Elcvne commune elaboraret his, mea amet luptatum at. Modo aeterno propriae ius id. Viris definiebas reprehendunt ad eam. In mea melius commodo. Te usu causae efficiendi. Nusquam percipitur cotidieque ut vis. An est vocent fabellas platonem, eu dico elitr feugait […]

                             div.blogPostGrid.Last

                                 div.meta

                                     div.date                            Jan

                                         div.day 15

                                     div.metaRight by
                                         a(href='http://demo.s5themes.com/wpanniversary/author/bvoasa/" title="Posts by bvoasa')  bvoasa
                                         br
                                         img(src='http://demo.s5themes.com/wpanniversary/wp-content/themes/wpanniversary/images/ico_comments.png')
                                         a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') No Comments

                                 img(src="http://demo.s5themes.com/wpanniversary/files/2011/01/sample7-300x90.jpg")

                                 h1
                                     a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') Pellentesque dapibus ullamcorper leo

                                 p Te usu causae efficiendi. Nusquam percipitur cotidieque ut vis. An est vocent fabellas platonem, eu dico elitr feugait per. Et veri posse everti vix, te reque option corpora nam, vim audire molestiae necessitatibus ad. Quis soleat mei eu, tale epicurei […]

                            div.separator

                            div.blogPostGrid

                                 div.meta

                                     div.date                            Jan

                                         div.day 15

                                     div.metaRight by
                                         a(href='http://demo.s5themes.com/wpanniversary/author/bvoasa/" title="Posts by bvoasa')  bvoasa
                                         br
                                         img(src='http://demo.s5themes.com/wpanniversary/wp-content/themes/wpanniversary/images/ico_comments.png')
                                         a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') No Comments

                                 img(src="http://demo.s5themes.com/wpanniversary/files/2011/01/sample3-300x90.jpg")

                                 h1
                                     a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') Nusquam percipitur cotidieque ut vis
                                 p Elcvne commune elaboraret his, mea amet luptatum at. Modo aeterno propriae ius id. Viris definiebas reprehendunt ad eam. In mea melius commodo. Te usu causae efficiendi. Nusquam percipitur cotidieque ut vis. An est vocent fabellas platonem, eu dico elitr feugait […]

                            div.blogPostGrid.Last

                                     div.meta

                                         div.date                            Jan

                                             div.day 15

                                         div.metaRight by
                                             a(href='http://demo.s5themes.com/wpanniversary/author/bvoasa/" title="Posts by bvoasa')  bvoasa
                                             br
                                             img(src='http://demo.s5themes.com/wpanniversary/wp-content/themes/wpanniversary/images/ico_comments.png')
                                             a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') No Comments

                                     img(src="http://demo.s5themes.com/wpanniversary/files/2011/01/sample9-300x90.jpg")

                                     h1
                                         a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') Pellentesque dapibus ullamcorper leo

                                     p Te usu causae efficiendi. Nusquam percipitur cotidieque ut vis. An est vocent fabellas platonem, eu dico elitr feugait per. Et veri posse everti vix, te reque option corpora nam, vim audire molestiae necessitatibus ad. Quis soleat mei eu, tale epicurei […]
                             div.separator

                            div.blogPostGrid

                                 div.meta

                                     div.date                            Jan

                                         div.day 15

                                     div.metaRight by
                                         a(href='http://demo.s5themes.com/wpanniversary/author/bvoasa/" title="Posts by bvoasa')  bvoasa
                                         br
                                         img(src='http://demo.s5themes.com/wpanniversary/wp-content/themes/wpanniversary/images/ico_comments.png')
                                         a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') No Comments

                                 img(src="http://demo.s5themes.com/wpanniversary/files/2011/01/sample6-300x90.jpg")

                                 h1
                                     a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') Nusquam percipitur cotidieque ut vis
                                 p Elcvne commune elaboraret his, mea amet luptatum at. Modo aeterno propriae ius id. Viris definiebas reprehendunt ad eam. In mea melius commodo. Te usu causae efficiendi. Nusquam percipitur cotidieque ut vis. An est vocent fabellas platonem, eu dico elitr feugait […]

                             div.blogPostGrid.Last

                                 div.meta

                                     div.date                            Jan

                                         div.day 15

                                     div.metaRight by
                                         a(href='http://demo.s5themes.com/wpanniversary/author/bvoasa/" title="Posts by bvoasa')   bvoasa
                                         br
                                         img(src='http://demo.s5themes.com/wpanniversary/wp-content/themes/wpanniversary/images/ico_comments.png')
                                         a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') No Comments

                                 img(src="http://demo.s5themes.com/wpanniversary/files/2011/01/sample1-300x90.jpg")

                                 h1
                                     a(href='http://demo.s5themes.com/wpanniversary/2011/01/15/nusquam-percipitur-cotidieque-ut-vis/') Pellentesque dapibus ullamcorper leo

                                 p Te usu causae efficiendi. Nusquam percipitur cotidieque ut vis. An est vocent fabellas platonem, eu dico elitr feugait per. Et veri posse everti vix, te reque option corpora nam, vim audire molestiae necessitatibus ad. Quis soleat mei eu, tale epicurei […]
                             div.separator

                             div.clearBoth

                            div.emm-paginate

                                span.emm-title
                                span.emm-page.emm-current 1
                                a(class="emm-page", href="http://demo.s5themes.com/wpanniversary/page/2/") 2
                                a(class="emm-page", href="http://demo.s5themes.com/wpanniversary/page/2/") >>

                         div.sidebar

                                 h2 RECENT POSTS
                                 ul
                                     li
                                         a(href='google.com') Nusquam percipitur cotidieque ut vis
                                     li
                                         a(href='google.com') Pellentesque dapibus ullamcorper leo
                                     li
                                         a(href='google.com') Nam libero tempore, cum soluta nobis est
                                     li
                                         a(href='google.com') Morbi in sem quis dui placerat ornare
                                     li
                                         a(href='google.com') Tempor incididunt ut labore et

                                 h2 CATEGORIES
                                 ul
                                     li
                                         a(href='google.com') Nusquam percipitur cotidieque ut vis
                                     li
                                         a(href='google.com') Pellentesque dapibus ullamcorper leo
                                     li
                                         a(href='google.com') Nam libero tempore, cum soluta nobis est
                                     li
                                         a(href='google.com') Morbi in sem quis dui placerat ornare
                                     li
                                         a(href='google.com') Tempor incididunt ut labore et

                                 div.TwitterBox
                                     a(class="action", href='google.com') Follow us on Twitter!>>


        div.b-footer
            div.footerInner
